<h1>Edit the Review:</h1>
<!-- <p>changed text area to text field, added max and min length</p> -->

<%= form_for [@product, @review] do |f| %>
  <%= f.label :author %>
  <%= f.text_field :author %>
  <%= f.label :content_body %>
  <%= f.text_field :content_body, maxlength: 250, minlength: 50 %>
  <%= f.label :rating %>
  <%= f.number_field :rating %>

  <p><%= f.submit %></p>
<% end %>
